GITHUB_TOKEN=
GITHUB_ORG=
EVENT_START=2026-01-01
EVENT_END=2026-12-31
ADMIN_USERNAME=
ADMIN_PASSWORD=
SYNC_SECRET=change-me-too
CONTRIBUTION_WEIGHT=1
TRIVIA_WEIGHT=1
MAINTAINERS=
DATABASE_TURSO_DATABASE_URL=
DATABASE_TURSO_AUTH_TOKEN=
NEXT_PUBLIC_SITE_URL=
